body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #1a1a40, #000);
  color: whitesmoke;
  padding: 2rem;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ebcc4d;
  margin-bottom: 0.5rem;
}
p {
  text-align: center;
  font-size: 1.1rem;
  columns: #c1bfbf;
  margin-bottom: 2rem;
}
.progress {
  height: 20px;
  width: 80%;
  margin: 1rem auto;

  background: #a89b9b33;
  border-radius: 1rem;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #6dd5ed, #219bb0);
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.missions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: #375257;
  border: 1px dashed #efe9e9;
  padding: 0.5rem;
  text-align: center;
  transition: transform 0.3s;
  font-size: small;
  font-weight: lighter;

  gap: 0.75rem;
}
.card:hover {
  transform: scale(1.03);
}
.card button {
  background: #f9d342;
  border: none;
  color: #000;
  padding: 0.5rem 1rem;

  cursor: pointer;
  margin-top: 1rem;
}
.card button:disabled {
  background: #21de17;
  color: #0b0a0a;
}
.level {
  text-align: center;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

/* the gorgeous footer :) */
footer {
  margin-top: 2rem;
  font-size: 18px;
  color: rgb(100, 76, 76);
  text-align: center;
  background: linear-gradient(
    to right,
    black,
    rgb(6, 6, 125),
    grey,
    white,
    grey,
    rgb(6, 6, 125),
    black
  );
}
