body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "VT323", monospace;

  color: white;
  background: black;

  scroll-behavior: smooth;
}
.stars {
  background: url("https://www.transparenttextures.com/patterns/stardust.png")
    repeat;
  z-index: 0;
}

.twinkling {
  background: url("https://www.transparenttextures.com/patterns/tiny-grid.png")
    repeat;
  animation: moveTwinkling 200s linear infinite;
  z-index: 1;
}
.stars,
.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes moveTwinkling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.container {
  z-index: 2;
  position: relative;
  text-align: center;
  color: white;
  padding: 4rem 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(11, 11, 180);
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  min-height: 1.5rem;
}

.start-button {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border: 2px dashed white;
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  transform: all 0.3s ease;
}

.start-button:hover {
  background-color: rgb(62, 58, 58);
  transform: scale(1.1);
  box-shadow: 0 5px 0 5px white;
}

.down-arrow {
  font-size: 6rem;
  margin-top: 2rem;
  animation: bounce 1s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* mission section cards and stufff */

.mission-section {
  background-color: black;
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  min-height: 100vh;
  z-index: 3;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background-color: #1f1f3a;
  border: 2px dotted #8181ef;
  border-radius: 15px;
  padding: 1.5rem;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(100, 100, 243);
}
.card h3 {
  margin-bottom: 0.5rem;
}

.card button {
  margin-top: 1rem;
  background-color: rgb(93, 85, 85);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card button:hover {
  background-color: #8181ef;
}
